<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494222107612-4inferv7ml6hoa1mvam1n00463tng972.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494222107612-4inferv7ml6hoa1mvam1n00463tng972</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>494222107612-i5hkgonoojsmt9nlco8sel63ijc1nl6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuyRbKSrmdJRCmbFH43NcExWVSzqSVwMI</string>
	<key>GCM_SENDER_ID</key>
	<string>494222107612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whiff.main</string>
	<key>PROJECT_ID</key>
	<string>whiff-1cd2b</string>
	<key>STORAGE_BUCKET</key>
	<string>whiff-1cd2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:494222107612:ios:823723a11247685709e519</string>
</dict>
</plist>
