<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>goolge-login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.455130658093-1cf5muvdb1ig4ttilb75pdqre1gdpchi</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>API_BASE_URL</key>
	<string>https://perfume-recommendation-api-1.onrender.com</string>
</dict>
</plist>
